name: Build Documents

# BSD 3-Clause License

# Copyright (c) 2025-2026, Tetsuo Seto

# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:

# 1. Redistributions of source code must retain the above copyright notice, this
#    list of conditions and the following disclaimer.

# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.

# 3. Neither the name of the copyright holder nor the names of its
#    contributors may be used to endorse or promote products derived from
#    this software without specific prior written permission.

# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
# FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
# OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

on:
  issue_comment:
    types: [created, edited]
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - '1.0/en/*.md'

permissions:
  contents: write # needed to push commit the generated PDF
  pull-requests: write # needed to PR the generated PDF

jobs:
  build_pdf:
    name: Build PDF
    if: ${{ startsWith(github.event.issue.title, 'Document Build Request') || github.event_name == 'push' }}
    runs-on: ubuntu-24.04
    steps:

      # STEP 1: Define system parameters
      - name: Define TOOL, BUILD, PROJ global variables
        run: |
          echo "ROOT_DIR=DataSecurityBestPractices" >> $GITHUB_ENV
          echo "BUILD_DIR=docgen" >> $GITHUB_ENV
          echo "PROJ_DIR=zzz" >> $GITHUB_ENV
          echo "PROJ_CODE=ZZZ" >> $GITHUB_ENV
          #-------------------------
          # production
          # echo "CODE_REPO=OWASP" >> $GITHUB_ENV
          # echo "CODE_DIR=AISVS" >> $GITHUB_ENV
          # test bed
          echo "CODE_REPO=tetsuoseto" >> $GITHUB_ENV
          echo "CODE_DIR=ZZZ" >> $GITHUB_ENV
          #-------------------------
          # default tool location; will be updated if self-servable
          echo "TOOL_REPO=tetsuoseto" >> $GITHUB_ENV
          echo "TOOL_DIR=Tenzing" >> $GITHUB_ENV

      # STEP 2: Define LANG, MT_X, owasp_pdf parameters
      - name: Read owasp_pdf parameters
        if: ${{ startsWith(github.event.issue.title, 'Document Build Request') }}
        env:
          EVENT_COMMENT_BODY: ${{ github.event.comment.body }}
        run: |
          IFS=',' read -ra PARAMS <<< $EVENT_COMMENT_BODY
          if echo ${PARAMS[0]}; then
            echo "LANG=${PARAMS[0]}" | tr -d " " >> $GITHUB_ENV;
          else
            echo "LANG=" >> $GITHUB_ENV;
          fi
          if echo ${PARAMS[1]}; then
            echo "MT_X=${PARAMS[1]}" | tr -d " " >> $GITHUB_ENV;
          else
            echo "MT_X=" >> $GITHUB_ENV;
          fi
      - name: Define LANG for 'push' event
        if: ${{ github.event_name == 'push' }}
        run: |
          echo "LANG=en-US" >> $GITHUB_ENV
          echo "MT_X=" >> $GITHUB_ENV
      - name: Adjust LANG (default en-US)
        run: |
          if [[ ${{ env.LANG }} =~ ^[a-z]{2}-[A-Z]{2}$ ]]; then
            :
          else
            echo "LANG=" >> $GITHUB_ENV;
          fi
      - name: Adjust MT_X
        if: ${{ env.LANG != '' && env.MT_X != '' && !contains(fromJSON('["mt", "x", "b"]'), env.MT_X) }}
        run: echo "LANG=" >> $GITHUB_ENV
      - name: Invalid Command
        env:
          EVENT_COMMENT_BODY: ${{ github.event.comment.body }}
          TRANSLATE_ACCESS_KEY: ${{ secrets.TRANSLATE_ACCESS_KEY }}
        run: |
          if ${{ env.LANG == '' }}; then
            echo "The command '$EVENT_COMMENT_BODY' is invalid.";
            exit 1;
          fi
          if ${{ env.MT_X == 'mt' && env.TRANSLATE_ACCESS_KEY == '' }}; then
            echo "MT is not supported in this repository.";
            exit 1;
          fi
          if ${{ env.MT_X == 'mt' && (
            github.event.comment.author_association != 'OWNER')
          }}; then
            echo "MT is not allowed. Pls consult with the repo maintainer.";
            exit 1;
          fi
          if ${{ env.MT_X == 'b' && (
            github.event.comment.author_association != 'OWNER')
          }}; then
            echo "B is not allowed. Pls consult with the repo maintainer.";
            exit 1;
          fi

      # STEP 3: Check out the repository code; we'll commit the result and submit a pull-request
      - name: Check out repository code
        if: ${{ env.LANG != '' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ env.CODE_REPO }}/${{ env.CODE_DIR }}
          ref: main
      - name: Check if linux.zip exists
        if: ${{ env.LANG != '' }}
        run: |
          if [ -f ${{ github.workspace }}/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }}/linux.zip ]; then
            echo "TOOL_SELF_SERVABLE=yes" >> $GITHUB_ENV;
            echo "TOOL_REPO=${{ env.CODE_REPO }}" >> $GITHUB_ENV;
            echo "TOOL_DIR=${{ env.CODE_DIR }}" >> $GITHUB_ENV;
          else
            echo "TOOL_SELF_SERVABLE=no" >> $GITHUB_ENV;
          fi

      # STEP 4: Define target branch name
      - name: Define target branch name with MT_X
        if: ${{ env.LANG != '' && env.MT_X != '' }}
        run: |
          MAIN_SHA="PDF_${{ env.LANG }}_${{ env.MT_X }}_${{ github.sha }}"
          echo "TARGET_BRANCH_NAME=$MAIN_SHA" >> $GITHUB_ENV
      - name: Define target branch name without MT_X
        if: ${{ env.LANG != '' && env.MT_X == '' }}
        run: |
          MAIN_SHA="PDF_${{ env.LANG }}_${{ github.sha }}"
          echo "TARGET_BRANCH_NAME=$MAIN_SHA" >> $GITHUB_ENV

      # STEP 5: Check if the target branch exists
      - name: Check if the target branch exists
        if: ${{ env.LANG != '' }}
        run: |
          BRANCH_NAME=${{ env.TARGET_BRANCH_NAME }}
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          if git ls-remote --heads origin | grep "${BRANCH_NAME}"; then
            echo "BRANCH_EXISTS=yes" >> $GITHUB_ENV;
          else
            echo "BRANCH_EXISTS=no" >> $GITHUB_ENV;
          fi

      # STEP 6: Prep for build
      - name: Download, unzip, copy the tool, and list resulted files
        if: ${{ env.LANG != '' && env.BRANCH_EXISTS == 'no' }}
        run: |
          curl -L -o main.zip "https://github.com/${{ env.TOOL_REPO }}/${{ env.TOOL_DIR }}/archive/refs/heads/main.zip"
          unzip -qq main.zip -d UNZIPPED
          if ${{ env.TOOL_SELF_SERVABLE == 'yes' }}; then
            cd UNZIPPED/${{ env.TOOL_DIR }}-main/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }};
          else
            cd UNZIPPED/${{ env.TOOL_DIR }}-main;
          fi
          unzip linux.zip
          cp -f linux/owasp_pdf ${{ github.workspace }}/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }}
          if ${{ env.TOOL_SELF_SERVABLE == 'no' }}; then
            cd BldEnv20241124;
            cp -rf owasp_pdf_data_${{ env.PROJ_CODE }} ${{ github.workspace }}/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }}
            cp  -f owasp_pdf_register_${{ env.PROJ_CODE }}_plugin.py ${{ github.workspace }}/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }}
          fi
          cd ${{ github.workspace }}/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }}
          echo '-----------------------'
          pwd
          ls -la
          cd ${{ env.PROJ_DIR }}
          echo '-----------------------'
          pwd
          ls -la

      # STEP 7: Build
      - name: Call ./owasp_pdf with ${{ env.LANG }}
        if: ${{ env.LANG != '' && env.BRANCH_EXISTS == 'no' && env.MT_X == '' }}
        run: |
          cd ${{ github.workspace }}/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }}
          ./owasp_pdf -s -y -l ${{ env.PROJ_CODE }}_${{ env.LANG }} --hdr '${{ github.sha }}'
      - name: Call ./owasp_pdf with ${{ env.LANG }} and 'mt'
        env:
          TRANSLATE_ACCESS_KEY: ${{ secrets.TRANSLATE_ACCESS_KEY }}
        if: ${{ env.LANG != '' && env.BRANCH_EXISTS == 'no' && env.MT_X == 'mt' }}
        run: |
          cd ${{ github.workspace }}/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }}
          ./owasp_pdf -s --mt gpt-4.1-mini -y -l ${{ env.PROJ_CODE }}_${{ env.LANG }} --hdr '${{ github.sha }} MACHINE TRANSLATED'
      - name: Call ./owasp_pdf with ${{ env.LANG }} and 'x'
        if: ${{ env.LANG != '' && env.BRANCH_EXISTS == 'no' && env.MT_X == 'x' }}
        run: |
          cd ${{ github.workspace }}/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }}
          ./owasp_pdf -s -x -y -l ${{ env.PROJ_CODE }}_${{ env.LANG }} --hdr '${{ github.sha }} MACHINE TRANSLATED'
      - name: Call ./owasp_pdf with ${{ env.LANG }} and 'b'
        env:
          WATERMARK_SECRET_KEY: ${{ secrets.WATERMARK_SECRET_KEY }}
        if: ${{ env.LANG != '' && env.BRANCH_EXISTS == 'no' && env.MT_X == 'b' }}
        run: |
          cd ${{ github.workspace }}/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }}
          ./owasp_pdf -s -y -l ${{ env.PROJ_CODE }}_${{ env.LANG }}

      # STEP 8: Clean up
      - name: Clean up
        if: ${{ always() && env.LANG != '' && env.BRANCH_EXISTS == 'no' }}
        run: |
          rm -rf UNZIPPED
          rm  -f main.zip
          cd ${{ github.workspace }}/${{ env.ROOT_DIR }}/${{ env.BUILD_DIR }}
          rm  -f owasp_pdf
          rm -rf ${{ env.PROJ_DIR }}/en-ZZ
          rm -rf ${{ env.PROJ_DIR }}/${{ env.LANG }}/baseline/${{ env.PROJ_CODE }}All_${{ env.LANG }}.md
          if ${{ env.TOOL_SELF_SERVABLE == 'no' }}; then
            rm -rf owasp_pdf_data_${{ env.PROJ_CODE }}
            rm  -f owasp_pdf_register_${{ env.PROJ_CODE }}_plugin.py
          fi

      # STEP 9: Commit and PR
      - name: Commit the changes
        if: ${{ env.LANG != '' && env.BRANCH_EXISTS == 'no' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:  |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout -b '${{ env.TARGET_BRANCH_NAME }}'
          git add .
          git commit -m "PDF created for ${{ env.LANG }} with the commit ${{ github.sha }}"
          git push --set-upstream origin '${{ env.TARGET_BRANCH_NAME }}'
      - name: Create Pull Request with the generated PDF
        if: ${{ env.LANG != '' && env.BRANCH_EXISTS == 'no' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:  |
          gh pr create --base 'main' --head '${{ env.TARGET_BRANCH_NAME }}' --title 'Automated PR with ${{ env.TARGET_BRANCH_NAME }}' --body 'PDF generated for ${{ env.LANG }} with the commit ${{ github.sha }}'

      # STEP 10: Show message in case build skipped because env.BRANCH_EXISTS == 'yes'
      - name: Show message in case build skipped
        if: ${{ always() && env.LANG != '' && env.BRANCH_EXISTS == 'yes' }}
        run: |
          echo "Build skipped because ${{ env.TARGET_BRANCH_NAME }} branch exists and already PR'ed."
          echo "*****************************************************************************"
